[2022-03-15 07:55] nealhaddaway opened #1 "biblio information seems to be missing"
GREAT package, thank you! I'm trying to fill blanks in RIS files and I cannot find the volume, issue, first_page, last_page data in `oa2df()`. I know this data is in 'res' (the output of `oaApiRequest()`, but wondered if the bibliographic information was intentionally dropped from oa2df() and if not whether it could be added to the df output? It would save me doing a case-by-case workaround. Thank

[2022-03-16 12:14] nealhaddaway commented on #1
Hey - sorry to bother you again, but I've installed the latest GitHub version and can't see the biblio data in oa2df(). Maybe I'm missing something? Thanks!

[2022-03-16 13:05] massimoaria commented on #1
Yes, I updated it.

Biblio info are stored in 4 additional columns of the data frame:
- first_page
- last_page
- volume
- issue

[2022-05-03 10:38] angbor09 opened #2 "Error in oa2df"
Thanks for such a useful package! I had used it a few weeks ago and it worked, but now, when using `oa2df` to convert the retrieved info into a dataframe, I get an error message:
Error in `*tmp*`[[jj]] : subscript out of bounds
Thanks!

[2022-05-04 13:06] #2 closed

[2022-05-09 18:00] Shea-Fyffe opened #3 "oaApiRequest with throw an error if query url doesn't have initial parameters"
Hi Massimo! Thanks for all your great work on this.

I noticed two things in the `oaApiRequest` source code that will lead to a 404 error. First, [Line 155](https://github.com/massimoaria/openalexR/blob/143423091d9f52ca621927f7dcc9c8e8483f9ece/R/oaApiRequest.R#L155) assumes that a query parameter has already been passed by leading with an `&`. The user could work around this by adding a mailto = a

[2022-05-11 10:14] massimoaria commented on #3
Thanks for your advice and remarks.
I adopted some of your code rows and solved anchor issues.

[2022-05-20 04:24] #3 closed

[2022-05-20 04:24] Shea-Fyffe commented on #3
Thank you @massimoaria!

[2022-08-02 19:09] trangdata opened #4 "Package webpage"
Hi @massimoaria thank you for a great package! 🚀

I'm learning more about OpenAlex and would love to contribute to your package while I'm learning. Would you be open to that? I can help make a webpage for your package and standardize some aspects such as tests, LICENSE, or creating a README.Rmd (which would allow for automatic syntax highlighting).

Let me know what you think! Again, awesome work!

[2022-08-04 03:08] trangdata commented on #4
Closing since I realized that the package has a GPL-3 license.

[2022-08-06 07:55] massimoaria commented on #4
Hi,
I am open to collaborating with you to improve the package. We can change the license type to allow that.
Let me know.

[2022-08-06 10:51] trangdata commented on #4
Hi @massimoaria Thank you so much for being open to this. I generally work with MIT license file, so if you're okay with that, that would be wonderful! I can help add this info as well.

The process of relicensing would be straightforward since you have been the sole developer so far.
https://r-pkgs.org/license.html#relicensing

[2022-08-06 11:55] trangdata opened #6 "Use OR syntax for bulk query"
I can be mistaken, but I don't think we're utilizing the [OR syntax](https://docs.openalex.org/api/get-lists-of-entities/filter-entity-lists#addition-or) to allow for bulk querying with a list of IDs. This would be a nice enhancement feature.

https://docs.openalex.org/api#rate-limits

[2022-08-08 15:20] massimoaria commented on #6
Yes, you are right.
I will add this feature.

[2022-08-08 16:18] massimoaria commented on #4
Hi @trangdata thanks for your support in this work.
I have just merged your commits to the main branch and changed the license to MIT.
I have also resolved some conflicts between the main version and your commits.

[2022-08-08 16:22] trangdata commented on #4
Thank you so much for being open to the suggestions and contributions @massimoaria! 🙏🏽  I'm wondering if you could add me as collaborator in this repo's Settings. That would make it easier for me to submit PRs and add you as a reviewer. 🌱

[2022-08-08 16:34] massimoaria commented on #4
Ok I was able to do it. You should have received an invitation by email as a package collaborator.

[2022-08-08 16:35] trangdata commented on #4
Awesome! Accepted!

[2022-08-08 16:35] #4 closed

[2022-08-09 01:52] trangdata commented on #6
I'm happy to help with this as well if you'd like that.

[2022-08-15 23:50] trangdata commented on #6
Addressed in #7

[2022-08-15 23:50] #6 closed

[2022-08-16 23:16] trangdata opened #9 "Snowball search"
After a discussion on openalexR and other packages ([microdemic](https://github.com/ropensci/microdemic) and [fulltext](https://github.com/ropensci/fulltext)), @yjunechoe suggested we implement a function to perform snowball searches. Specifically, given an identifier (say, DOI), find the papers it cites and the papers that cite it.

Reference:
https://github.com/yjunechoe/Snowglobe

[2022-08-18 08:44] massimoaria commented on #9
In bibliometrics, a snowball search means to identify a target work and starting from it, to download all items citing it and all items cited by it.
Then are we  thinking about a function that automatically creates this kind of query (all citing works and all cited works from an ID) and downloads the metadata?
Yes, I think it could be interesting.

But I also have another idea. The most popular bi

[2022-08-25 10:13] massimoaria commented on #9
I have just added a commit that introduces the function oa_snowball().
oa_snowball fetch all documents citing and cited by one or more target identifiers.
It returns a tibble including all documents. I added a column "role" in which is reported the role of each document included in the tibble ("citing", "cited", "target")

[2022-08-25 10:16] trangdata commented on #9
@massimoaria Amazing work, thank you! I have been swamped this week, but I'm excited to try it out soon! Please feel free to close the issue.

[2022-08-25 10:20] massimoaria commented on #9
I would like to work also on the "other ideas". So for the moment, I prefer to leave the issue open.

[2022-09-01 11:37] sjgknight opened #10 "Duplicate package name"
I've maybe missed something, but I was looking for an easy way to pass a list of author identifiers, and get works. I can see how to get the counts of works, lots of author details, and to get works given a work identifier, but not this.

In looking for the lazy solution (to save me writing queries), there is another package https://github.com/ekmaloney/openalexR which does indeed have this functi

[2022-09-01 12:30] trangdata commented on #10
Hi @sjgknight thank you for this question!

We indeed have a way to do this. Say, we want to find works by the two following authors whose openalex ids we know:
[code]
The current documentation we have on this is not super clear (one would have to follow the [link](https://docs.openalex.org/api/get-lists-of-entities/filter-entity-lists#works-attribute-filters) to see all the attributes to filter w

[2022-09-01 12:37] trangdata commented on #10
I should clarify that this option is available only in the development version of the package:
[code]

[2022-09-01 12:44] trangdata commented on #10
Another filter attribute we can utilize is authorships.author.orcid/author.orcid. However, we need to make sure that we give the filter the full orcid links with "https://orcid.org/".

[code]

[2022-09-01 23:11] sjgknight commented on #10
@Trangdata brilliant, thanks so much! That works perfectly, and means I can reproduce things from the other package without having to install both (phew).  Minor thing, and not sure if the typo is in openalex or openalexR, but unnested concept level is: 'concept_concept_lecel'

[2022-09-01 23:11] #10 closed

[2022-09-02 00:00] trangdata commented on #10
@sjgknight Ah yes I did notice the typo. I'm working on a [refine branch](https://github.com/massimoaria/openalexR/tree/refine) that will address this issue (we will no longer rename these columns) to make the package more robust. Hopefully, we'll get to roll out the next cran release soon to incorporate all these changes. Thank you for bearing with us and being such a 🌟  supporter of the package!

[2022-09-05 21:40] sjgknight opened #13 "Breaking change"
A recent commit has introduced a breaking change (possibly deliberate). Apologies I didn't very systematically record things as I went. I've just re-checked, this previously worked, where members$ORCID is a column of ORCID ids (without the url prepended).  I tried rolling back and the function still works at this commit `openalexR@0114bb3b3dd2c26c98b4aa8ee2da6162189a0ccf`

`oa_fetch(
  entity = "a

[2022-09-05 23:31] trangdata commented on #13
Hi @sjgknight thanks for bringing this up. And thank you for your patience with the early development of this package! 🌱 Hopefully, things are getting more stable and we can push a new release to CRAN soon (in the next couple of weeks maybe? @massimoaria)

I'm not sure which version you're using, but the following works for me in the current main branch:
[code]

<sup>Created on 2022-09-05 with [re

[2022-09-06 01:42] sjgknight commented on #13
Thanks @trangdata re: oa_fetch, it's weird, the example you give works for me. But even just dput my list of ORCIDs into a list and using that, I get: `Error in rbind(deparse.level, ...) : numbers of columns of arguments do not match`
That seems likely to be a me problem, so I'll try and look properly later in the week.

Partly because of that I'm struggling to make a useful reprex.  Again, I'll t

[2022-09-06 07:33] sjgknight commented on #13
I'm using the current gh version (using pacman::p_load_gh_current())
I've identified an oa_fetch issue for authors, and it's just something in my data. But I have no idea what the issue is (identifier below). I have their oa_id https://api.openalex.org/people/A1912441002

[code]

<sup>Created on 2022-09-06 with [reprex v2.0.2](https://reprex.tidyverse.org)</sup>

And somewhere along the way TI bec

[2022-09-06 10:52] trangdata commented on #13
@sjgknight Thank you for pinpointing me to this particular example. 🙏🏽 💯  It is indeed a bug. 🐞  I will fix this soon! FYI next time for reprex, you want to add library(openalexR) to your clipboard also, so the error message stays the same as before.

I will double-check the rownames in oa2bibliometrix().

Yes, and I'm sorry for this change, but I think it is more robust to keep the column names a

[2022-09-09 14:14] massimoaria commented on #9
Have you tried the oa_snowball function?
What do you think about it?
Remarks? Ideas?

[2022-09-10 13:12] trangdata opened #14 "Unhelpful rownames from oa2bibliometrix()"
I'm not sure if the rownames are needed for downstream analyses of bibliometrix, but perhaps we should remove (also, the SR column already has this information). What do you think @massimoaria?

[code]

<sup>Created on 2022-09-10 with [reprex v2.0.2](https://reprex.tidyverse.org)</sup>

[2022-09-10 13:12] trangdata commented on #13
Hi @sjgknight, thanks again for all your help investigating this! 💯 🙏🏽  The fix for your first issue has now been merged to main. Moving the second part of this to #14.

Please reopen the issue if you still run into errors for your query.

[2022-09-10 13:12] #13 closed

[2022-09-10 15:15] massimoaria commented on #14
the file as is will not work in bibliometrix.
Bibliometrix needs the rownames and the SR field to work properly. This information is used as short labels of papers in many analyses.

[2022-09-10 15:22] trangdata commented on #14
Got it. We'll leave this for now.

[2022-09-10 15:29] massimoaria commented on #14
I am working on this issue.
Give me a few minutes...

[2022-09-10 15:48] massimoaria commented on #14
Last commit should have solved the issue.

library(openalexR)
library(bibliometrix)
library(dplyr)
dat <- oa2bibliometrix(oa_fetch(
  entity = "works",
  cites = "W2755950973",
  from_publication_date = "2022-01-01",
  to_publication_date = "2022-01-31"
))

dat %>%
  biblioAnalysis() %>%
  summary()

`MAIN INFORMATION ABOUT DATA

 Timespan                              2022 : 2022
 Sources (Journal

[2022-09-11 21:14] trangdata commented on #14
hmm I downloaded the latest version of bibliometrix on cran and pulled the latest commit of openalexR and still got an error:
[code]

<sup>Created on 2022-09-11 with [reprex v2.0.2](https://reprex.tidyverse.org)</sup>

[2022-09-15 15:12] massimoaria commented on #14
Please use the GitHub version of bibliometrix:

library(openalexR)
remotes::install_github("massimoaria/bibliometrix")
library(bibliometrix)

[2022-09-20 23:34] trangdata commented on #14
hmm I downloaded the bibliometrix package (v4.0.1) from GitHub but still get the same error...

[2022-09-21 07:25] massimoaria commented on #14
I don't know why.
I also tried using the bibliometrix last updated version from CRAN (4.0.1).
The example seems to work fine.
Here the code and output through repex:

[code]

<sup>Created on 2022-09-21 with [reprex v2.0.2](https://reprex.tidyverse.org)</sup>

[2022-09-21 13:00] trangdata commented on #14
@massimoaria that is completely my fault!!! I pulled the changes on openalexR but hadn't rebuild the package locally! I got the same result as you do now. Please feel free to close the issue.

[2022-09-21 13:06] #14 closed

[2022-09-22 19:50] Nate-Wessel opened #15 "Add examples for working with complex tibbles"
It would be really helpful I think to add an example or two to the readme showing how data in some of the sub-fields can be extracted from the large, complicated tibble returned by `oa_fetch`.

For example I'm struggling to figure out how to extract a list of institution_id's associated with a set of works. Or the latitude and longitude from a list of institutions.

[2022-09-23 00:25] trangdata commented on #15
Thank you for this suggestion @Nate-Wessel. I have been meaning to add another vignette explaining the output, especially tibble output.

Just so we're on the same page, you're recommending something like this, right?
[code]

<sup>Created on 2022-09-22 with [reprex v2.0.2](https://reprex.tidyverse.org)</sup>

[2022-09-23 13:27] Nate-Wessel commented on #15
Yeah, exactly. I think that code would have been a big help to me yesterday. I also found eventually that dplyr's [rowwise](https://dplyr.tidyverse.org/articles/rowwise.html) grouping works well here and has the benefit of returning a tibble.

[code]
Thanks!

[2022-09-27 15:27] trangdata commented on #15
Thank you @Nate-Wessel for the nice suggestion of rowwise! There is now a vignette that explains the tibble output and recommended data wrangling strategies.

[2022-09-27 15:27] #15 closed

[2022-09-30 17:00] trangdata commented on #9
After exploring `oa_snowball` a bit, here's what I'm thinking:

Should we return a list of 2 elements:
1. Relationship table of 2 columns: `from, to` (a row `A, B` means A cites B), each element is an openalex ID
2. Metadata of all of the openalex IDs in (1).

We should be cautious of works that cite multiple input identifiers at the same time (this should be captured in the output list's first el

[2022-09-30 19:47] trangdata opened #18 "Automatic batching in oa_fetch filters"
Currently, openalex allows [50 entities](https://docs.openalex.org/api/get-lists-of-entities/filter-entity-lists#logical-expressions) to be combined in a query. So the following gives an API error when `my_dois` has more than 50 components.
[code]

It may be nice if `oa_fetch` automatically batches these entities if more than 50 entities in the filter are requested.

[2022-10-01 10:13] massimoaria commented on #18
You are right.
I have just added a commit that overcomes the limitation of 50 identifiers at a time.
Moreover, I also added the possibility to use doi URLs instead of OpenAlex ids as identifiers

[2022-10-01 11:33] massimoaria commented on #9
@trangdata following your remark, I have just modified the function that now returns a list of two elements:
1. Relationship table of 2 columns: from, to (a row A, B means A cites B), each element is an openalex ID
2. Metadata of all of the openalex IDs in (1).

The function code has been also modified to be more efficient.

[2022-10-01 15:10] yjunechoe commented on #9
@trangdata I think that's the way to go as well! When I implemented snowball output on Snowglobe, all information from the snowball search was returned as a single dataframe, where it was a cbind of paper metadata, and columns for connection information, kind of like this:

|  id|title | ... | n_cites|cites              | n_cited_by|cited_by |
|---:|:-----|:-------------------|-------:|:----------

[2022-10-02 16:14] trangdata commented on #18
Let's continue [this conversation](https://github.com/massimoaria/openalexR/commit/065cda024fd42c5860cce30209d5dedc9499f1c1#r85621654) here for easier tracking of the issue.

I think 8cd1aca277c8bdf4564f6e99d1c5dda13141e2f1 is okay, but I would like to generalize this for other external IDs as well (not just for works). And perhaps other type of filters. I'll submit a PR for this soon. Maybe you c

[2022-10-02 16:49] massimoaria commented on #18
Yes of course!

[2022-10-03 13:46] trangdata opened #20 "`snowball` takes DOIs as input?"
For the moment, `snowball` works only with openalex_ids. Would adapting it to DOIs be helpful?

[2022-10-04 15:32] massimoaria commented on #20
Probably yes.
However, the DOI is the reference id of all scientific publications. The user may not know the OpenAlex id of the target publications but certainly knows their DOIs.

[2022-10-04 16:11] #18 closed

[2022-10-05 14:54] trangdata commented on #9
Thank you so much @yjunechoe for this detailed feedback! I've submitted #22 to address these points, but happy to further brainstorm if the solutions are not optimal.

0. On your first point re "flatten" format, I added function [`to_disk`](https://github.com/massimoaria/openalexR/blob/2fc4bb06fc5ae710bf7b468e48e0acb02e66a98c/R/oa_snowball.R#L128) that takes the output of `oa_snowball` and _flatte

[2022-10-05 16:08] yjunechoe commented on #9
Thanks for the quick turnaround! Addressing points in order of least to most complex:

RE: 0; Actually I misremembered some key details of the flattened output (sorry!). Let me think and try again from scratch - I'll move this out to a new issue/PR since it's a separate post-processing step. I'll also see if I can implement everything in base R.

RE: 2 & 3; they look great! I like the `"short"` de

[2022-10-05 18:20] trangdata commented on #9
| from | to |
|------|----|
| W1   | W2 |

Hmm I'm not sure if I understand your point here. What is a "search" direction? I think your original interpretation of edges was correct. This would mean W1 cites W2. All of these edges would have either `from` or `to` be one of the input identifiers. Am I also misinterpreting this?

[2022-10-05 19:16] trangdata commented on #9
Great point. I went ahead and change short_id to id in show_works(), because technically these are still valid openalex ids. They're just short-form. I explained this in the documentation for show_works() and show_authors().

[2022-10-05 19:23] yjunechoe commented on #9
Ah you're right I mixed that up 🤦‍♂️ - but yay that means less things to worry about!

We can come back to the distinction between "search" vs. "citation" direction, but they're just different representations of the same data. So if the input to snowball was paper `B` and our edges data looks like this:

| from | to |
|------|----|
| A   |B |
| B   |C |

Then a edges representing **citation direct

[2022-10-05 19:33] trangdata commented on #9
Thank you @yjunechoe for the explanation! 💯 🤩  And I didn't know about mermaid!!! 🤯

So, couple last things I'd like some input on: @massimoaria @yjunechoe
- Right now, nodes$role are citing, cited, both, and target. Are these the best levels? Or should we make it clearer: "cites target", "cited by target", "both", "target"? Any other ideas?
- Does from A to B means A cites B a good convention? Or

[2022-10-05 19:46] massimoaria commented on #9
Sorry for my absence but this semester is really busy for me.
The "relationships" object is an edge matrix in which the directional link A (from) -> B (to) means that A cites B.
This is the only concept that makes sense if you want to use this information to create a graph of direct citations (e.g., Historiograph as implemented in bibliometrix).

[2022-10-05 19:54] massimoaria commented on #9
Sorry for my absence but this semester is really busy for me.
The "relationships" object is an edge matrix in which the directional link A (from) -> B (to) means that A cites B.
This is the only concept that makes sense if you want to use this information to create a graph of direct citations (e.g., Historiograph as implemented in bibliometrix).

Regarding the roles stored in nodes$role, I think t

[2022-10-05 20:05] trangdata commented on #9
I think we need to be careful referencing "publication_date", since there may be an online early release date (or similar) and there may be a final date later (usually months after). If this paper is cited by another article that gets published just before this final date, it's going to be difficult to infer the citation direction. And by "both" here, I only mean that, in a particular query, this

[2022-10-05 20:24] massimoaria commented on #9
Yes, You are right. This is a good point.

Yes, A -> B means A cites B then B is the ancestor. Then, in bibliometrics, the "citation action" comes from A to B.
This is the information we report in the relationships matrix.

[2022-10-05 20:25] yjunechoe commented on #9
Oh I was agreeing with you that "from A to B" means "A cites B" to me! Like "there is a citation from A to B"

[2022-10-05 20:26] trangdata commented on #9
Opps my bad I read your comment without "than" and its meaning is reverse. 🙃

[2022-10-05 20:33] trangdata commented on #9
Back to the `role` column: What do you both think about a boolean column named "input" or "provided" or ..?, TRUE if the work is in the original list of identifiers, else FALSE.

[2022-10-06 05:10] yjunechoe opened #23 "Flattened 1-table snowball output"
_Moving this out of #9 as a separate issue_

## Input (from output of `oa_snowball()`)

Let's say we conduct a snowball search of papers B and D which finds A and C, where A cites B and C is both cited by B and cites D.

### Search graph

[code]

### Edges

| from | to |
|------|----|
| A    | B  |
| B    | C  |
| C    | D  |

### Nodes

| id | ... | oa_input |
|----|-----|----------|
| A  | ... |

[2022-10-06 12:35] trangdata commented on #23
Thank you so much @yjunechoe for writing this out. I like this idea a lot, but I'd like to propose a few more columns to preserve a little more information:

| id | ... | cited_by_count | ... | oa_input | cited_by | citing | citing_count | biblicon | biblicon_count |
|----|-----|----------------|-----|----------|----------|--------|--------------|----------|----------------|
| A  | ... | 0

[2022-10-06 17:22] yjunechoe commented on #23
Works for me re: adding more columns than just `connections`!

One "big idea" for `to_disk()` that at least I have in mind is that it should kinda be like `show_works()`: it's doesn't have to be so principled; it should just have stuff that (non-programmer) researchers can interactively work with in a spreadsheet. What I've found is that redundant information are worth "spelling out" if they they

[2022-10-06 20:57] trangdata commented on #23
Thanks for explaining this, @yjunechoe! It makes more sense to me now what the purpose of this output is. I have re-implemented to_disk with [detailed documention](https://github.com/massimoaria/openalexR/blob/bd68668990dc3d0619a05e1684d57e28d4b8f6ed/R/oa_snowball.R#L127-L139) but let me know if you think we can explain something better!

[2022-10-07 11:34] trangdata opened #25 "Use codecov"
@massimoaria Since you're the admin of the repo, could you follow [this instruction](https://www.r-bloggers.com/2017/06/how-to-add-code-coverage-codecov-to-your-r-package/) to add code coverage to our package, please? 🌻 🌈

Starting at the step "_Now log in to [codecov.io](https://codecov.io/gh) using the GitHub account._"

[2022-10-07 13:03] massimoaria commented on #25
@trangdata Ok, I did it.
I sent you by email the codecov token to complete the CI environment configuration.

[2022-10-07 13:10] trangdata commented on #25
Awesome! Thank you! Now we just need to write more tests to improve that coverage 😅

[2022-10-07 13:10] #25 closed

[2022-10-07 13:55] trangdata commented on #20
Addressed in #26.

[2022-10-07 13:55] #20 closed

[2022-10-07 15:42] adam3smith opened #27 "Include is_retracted and is_paratext in oa2df?"
Thanks for this package -- very useful. I'd like to filter out irrelevant results from a sample that I'm constructing using oa_random (so can't use the API filters) and it'd be very useful to have access to `is_retracted` and `is_paratext` -- happy to create a PR (this seems pretty straightforward) but wanted to make sure these aren't committed for a reason.

[2022-10-07 16:04] trangdata commented on #27
Thanks for raising this point @adam3smith! Could you explain a little more what you're trying to do? Are you using oa_random multiple times to get a set of random works? PRs are most welcomed, but I don't think you want to modify `oa2df`...

[2022-10-07 18:04] trangdata commented on #27
I see your point now! 💯  And yes, then adding these two columns to works2df would make sense! Please submit a PR! 🙏🏽

Alternatively, if you want more control of the output, I would also use `output = "list"` in your oa_random calls and then rbind() %>% as_tibble() them together at the end. You would get a tibble with some nested lists (not as nice as what works2df gives you) but maybe we could mod

[2022-10-07 19:18] #27 closed

[2022-10-10 21:39] trangdata commented on #23
Resolved in #24

[2022-10-10 21:39] #23 closed

[2022-10-12 06:36] massimoaria opened #30 "Snowball search by author(s)"
@trangdata
Talking with Corrado Cuccurullo, we realized that it should be a good idea to add the possibility of performing a snowball search by an author, searching all his citing or cited documents.

[2022-10-12 14:32] trangdata commented on #30
This is already possible with our current implementation of `oa_snowball` 😄 🌻
[code]

<sup>Created on 2022-10-12 with [reprex v2.0.2](https://reprex.tidyverse.org)</sup>

[2022-10-12 16:01] massimoaria commented on #30
Sorry, my mistake

[2022-10-12 16:01] #30 closed

[2022-10-12 17:25] trangdata commented on #30
No need at all! We still need to put together a vignette for snowball search, so these use cases are very good to know! Thank you for bringing it up.

[2022-10-14 21:43] krisgulati opened #32 "Can you extract works by author name search?"

[2022-10-14 21:47] #32 closed

[2022-10-17 15:02] Nate-Wessel opened #34 "Error from `oa_fetch` during conversion: `l_inst[inst_idx][[1]]` : subscript out of bounds"
Unless I'm mistaken, this should be a valid query for _works_ with authors in both Canada and Korea, related to [artificial intelligence](https://api.openalex.org/concepts/C154945302).

[code]

If I do `count_only=TRUE` I see there are 1,842 works which sounds like it's in the right ballpark at least. When I run the code above though to get the actual works, I get the following error message:

[co

[2022-10-17 15:57] trangdata commented on #34
Thank you for reporting this @Nate-Wessel! 🙏🏽  An edge case we missed when handling institution list of two empty elements. a014aba7cd06a7d1069fc0be8f7abcfbbe798f99 should fix it. Waiting for review from @massimoaria

[2022-10-17 17:40] Nate-Wessel commented on #34
So fast. Thank you!

[2022-10-17 19:44] trangdata opened #35 "R CMD CHECK fails on windows latest"
Noting that one of our Imports, curl, is having a problem with SSL certificates. Will wait for their [failed tests](https://github.com/jeroen/curl/actions/runs/3267506981/) to get resolved.

[2022-10-17 19:54] massimoaria commented on #35
Ok, we just have to wait

[2022-10-19 12:18] massimoaria opened #36 "Error in converting JSON object into a data frame"
@trangdata

I just discovered this bug trying to download documents cited by a group of papers.

[code]

<sup>Created on 2022-10-19 with [reprex v2.0.2](https://reprex.tidyverse.org)</sup>

[2022-10-19 12:25] massimoaria commented on #36
Here, I identified the documents producing the issue:

[code]

<sup>Created on 2022-10-19 with [reprex v2.0.2](https://reprex.tidyverse.org)</sup>

[2022-11-03 19:09] mamendoza1 opened #38 "Error with oa2df"
I noticed that the `oa_fetch` function sometimes errors out during the "converting" step.

Here is my example query and the error message:

[code]

[code]

I've done some debugging and noticed that the conversion using `oa2df` is getting stuck on 1 of the records.

[2022-11-04 01:55] trangdata commented on #38
Thank you for reporting @mamendoza1! It was indeed an issue with oa2df, specifically works2df. I have fixed this in #39 pending approval from @massimoaria.

[code]

<sup>Created on 2022-11-03 with [reprex v2.0.2](https://reprex.tidyverse.org)</sup>

[2022-11-04 06:40] #38 closed

[2022-11-04 17:52] mamendoza1 commented on #38
Thank you @trangdata !

[2022-11-04 23:13] mamendoza1 opened #40 "Filtering with logical expressions"
Thanks so much for creating this package. It's been so helpful for my research!

I think it would be helpful to add documentation/functionality on how to use logical expressions (AND, OR, NOT) with `oa_query` and`oa_fetch`, in line with the OpenAlex documentation here: https://docs.openalex.org/api/get-lists-of-entities/filter-entity-lists#logical-expressions

[2022-11-05 13:14] trangdata commented on #40
Hi @mamendoza1 thank you for your feedback 🌱. Would it be something similar to [this example](https://github.com/massimoaria/openalexR#works) in the readme:

[code]

As you can see in the verbose output, this is equivalent to the query https://api.openalex.org/works?filter=title.search:bibliometric%20analysis|science%20mapping,cited_by_count:>50,from_publication_date:2020-01-01,to_publication_date

[2022-11-08 13:49] github-actions[bot] opened #42 "pkgcheck results - for-ropensci"
## Checks for [openalexR (v1.0.2)](https://github.com/massimoaria/openalexR)

git hash: [d81b0d0b](https://github.com/massimoaria/openalexR/tree/d81b0d0b05e85919ba9cdafc324dc2289b890c5c)

- :heavy_check_mark: Package is already on CRAN.
- :heavy_check_mark: has a 'codemeta.json' file.
- :heavy_check_mark: has a 'contributing' file.
- :heavy_check_mark: uses 'roxygen2'.
- :heavy_check_mark: 'DESCRI

[2022-11-08 14:02] github-actions[bot] opened #43 "pkgcheck results - main"
## Checks for [openalexR (v1.0.2)](https://github.com/massimoaria/openalexR)

git hash: [c0d32fea](https://github.com/massimoaria/openalexR/tree/c0d32feac8db4096d785be0258a636eede86e1ae)

- :heavy_check_mark: Package is already on CRAN.
- :heavy_check_mark: has a 'codemeta.json' file.
- :heavy_check_mark: has a 'contributing' file.
- :heavy_check_mark: uses 'roxygen2'.
- :heavy_check_mark: 'DESCRI

[2022-11-08 14:03] #42 closed

[2022-11-08 14:25] #43 closed

[2022-11-08 14:29] github-actions[bot] opened #45 "pkgcheck results - main"
## Checks for [openalexR (v1.0.2)](https://github.com/massimoaria/openalexR)

git hash: [e967011c](https://github.com/massimoaria/openalexR/tree/e967011ce08d02951dfbe287455ecd568614d5c0)

- :heavy_check_mark: Package is already on CRAN.
- :heavy_check_mark: has a 'codemeta.json' file.
- :heavy_check_mark: has a 'contributing' file.
- :heavy_check_mark: uses 'roxygen2'.
- :heavy_check_mark: 'DESCRI

[2022-11-09 05:37] zilch42 opened #46 "associated_institutions returned as a single nested row rather than a nested data.frame"
Hi there,

Firstly, thank you for this package. It's awesome.

One issue I have found is that the nested `associated_institutions` table returned from `institutions2df` appears to be one long row rather than a table when there are multiple entries.
[code]
This institution has 37 associated institutions but each `id` etc is returned in its own column numbered `id, id1, id2, ...`, rather than in a s

[2022-11-09 13:01] #45 closed

[2022-11-09 13:41] trangdata commented on #46
Thanks so much @zilch42 for reporting this. You're exactly right that we should use rbind_df for this property. I don't think `geo` would be an issue because each institution is supposed to have only [one location](https://docs.openalex.org/about-the-data/institution#geo). Different locations would correspond to different openalex ids. But do let me know if you run into any issues.

[code]

<sup>C

[2022-11-09 15:45] #46 closed

[2022-11-09 15:51] github-actions[bot] opened #48 "pkgcheck results - main"
## Checks for [openalexR (v1.0.2.9000)](https://github.com/massimoaria/openalexR)

git hash: [a938e831](https://github.com/massimoaria/openalexR/tree/a938e831e9154252c70478a9df30ab4cf6639463)

- :heavy_check_mark: Package is already on CRAN.
- :heavy_check_mark: has a 'codemeta.json' file.
- :heavy_check_mark: has a 'contributing' file.
- :heavy_check_mark: uses 'roxygen2'.
- :heavy_check_mark: 'D

[2022-11-11 11:02] optykali opened #49 "oa2df() fails with Error in l_inst[inst_idx][[1]] : subscript out of bounds"
See above. I isolated a work for which the error occurs. Will get back as soon as I find more clues.

query <- "https://api.openalex.org/works/W4220685818"
res <- oa_request(
  query_url = query,
  verbose = FALSE
)
df <- oa2df(res, entity = "works")

Stephan

[2022-11-11 11:14] optykali commented on #49
This JSON-portion might be the issue:

institutions":[{},{}],"raw_affiliation_string":null},

[2022-11-11 12:19] trangdata commented on #49
Hi Stephan, thanks for reporting. Do you have the latest version of openalexR? Here's what I got when using your code:

[code]

<sup>Created on 2022-11-11 with [reprex v2.0.2](https://reprex.tidyverse.org)</sup>

[2022-11-11 12:20] trangdata commented on #49
You can install the latest version on GitHub with:
[code]

[2022-11-11 12:37] trangdata commented on #49
You're probably right. @massimoaria and I are [in the progress](https://github.com/ropensci/software-review/issues/560) of submitting the package to ropensci. Once it's there, we'll make another CRAN release.

[2022-11-11 12:38] #48 closed

[2022-11-15 18:06] mamendoza1 commented on #40
Hi @trangdata, your example above is useful, but I do think it would be helpful to elaborate a bit more on how to construct more complex queries. I had trouble understanding how to use different logical expressions within the `oa_fetch` commands. For example, in your example above, I initially wondered how to change the `title.search` to say, search `("bibliometric analysis" OR "science mapping")

[2022-11-15 22:40] trangdata commented on #40
@mamendoza1 Thank you for clarifying your use case.

Interestingly enough, this works:

[code]

<sup>Created on 2022-11-15 with [reprex v2.0.2](https://reprex.tidyverse.org)</sup>

Note the use of the `title.search` argument twice in the call. I expected R to complain, but it didn't! 🙈

Anyhow, I'll add this to the documentation, perhaps a separate vignette on logical expressions. Please let me kn

[2022-11-18 18:07] #40 closed

[2022-11-22 01:50] zilch42 opened #50 "Multiple author institutions lost from works"
Hi there, `oa2df()` appears to be dropping subsequent institutional affiliations from authors when returning works.

See this example:
[https://explore.openalex.org/works/W2898962279](https://explore.openalex.org/works/W2898962279)
![image](https://user-images.githubusercontent.com/39004650/203196452-4e674426-085a-42aa-950f-6e0b85b9484c.png)

The 3rd Author Tim McVicar is affiliated with both the

[2022-11-22 02:38] trangdata commented on #50
Hi @zilch42 — thanks for raising this issue. 🌈

You're right: by default, `oa_fetch` returns a "flattened" dataframe/tibble as output (of potentially many entities/rows). And in the flattening process, we have decided to only keep one institution to simplify the author column of the tibble.

If you'd like the original nested list without any simplification, you could do `oa_query |> oa_request` as

[2022-11-22 03:02] yjunechoe opened #51 "Snowball with multiple inputs sometimes return NA in `edges`"
I haven't hunted down the exact source of this bug yet but here's the smallest reprex I can make:

[code]

Note that the "from" paper here is one of the snowballed inputs, so it looks like OpenAlex/{openalexR} "finds" a citation from one of the input papers to some paper that's `NA` here for some reason.

Among other things, this causes a pretty cryptic error in `tidygraph::as_tbl_graph()`, which

[2022-11-22 03:46] zilch42 commented on #50
Thanks @trangdata , glad to know there is a method for getting at the data.

It would be intuitive in my mind to flatten to the lowest possible level and therefore include duplication rather than drop data. So in the case of the author table I would have expected to see 2 rows for Tim McVicar, each with a different institution, but I can appreciate how that may confuse other folks as you would the

[2022-11-22 12:07] trangdata commented on #51
Thank you @yjunechoe for this issue. 🌻

It looks like OpenAlex gives empty `reference_works` for these papers:
- https://api.openalex.org/works/W4246185059
- https://api.openalex.org/works/W4238563879
- https://api.openalex.org/works/W4252968383

So you're right: `na.omit` looks to be the best solution since we're not losing any information.

[2022-11-22 17:24] yjunechoe commented on #51
Ah I think I tracked it down!

So we know that `"W4246185059"` does not have `referenced_works` recorded in OpenAlex. If you snowball it alone, `cited` is `NULL`

https://github.com/massimoaria/openalexR/blob/a938e831e9154252c70478a9df30ab4cf6639463/R/oa_snowball.R#L63

[code]

And that gets caught later on in this `if` condition:

https://github.com/massimoaria/openalexR/blob/a938e831e9154252c704

[2022-11-22 21:44] #51 closed

[2022-11-22 21:49] github-actions[bot] opened #53 "pkgcheck results - main"
## Checks for [openalexR (v1.0.2.9000)](https://github.com/massimoaria/openalexR)

git hash: [8c515004](https://github.com/massimoaria/openalexR/tree/8c515004c851ad96f0a7cc411d7fc0505f852fba)

- :heavy_check_mark: Package is already on CRAN.
- :heavy_check_mark: has a 'codemeta.json' file.
- :heavy_check_mark: has a 'contributing' file.
- :heavy_check_mark: uses 'roxygen2'.
- :heavy_check_mark: 'D

[2022-11-24 01:40] trangdata commented on #50
Thank you for this explanation @zilch42. 🌻

The purpose of the "About the tibble output" vignette was to show a few different ways for the user to extract the data. But you're right. I have added more information and clarified the assumption we made in 77b37b8.

A table of specific simplifications makes sense. I came to this project later and these simplifications were already there, but we should

[2022-11-24 05:09] zilch42 commented on #50
Thanks @trangdata. The updated documentation is definitely clearer

[2022-11-24 07:42] github-actions[bot] opened #55 "pkgcheck results - main"
## Checks for [openalexR (v1.0.2.9000)](https://github.com/massimoaria/openalexR)

git hash: [7e5f70ae](https://github.com/massimoaria/openalexR/tree/7e5f70ae4f53509126305ec1359b828ff845d15e)

- :heavy_check_mark: Package is already on CRAN.
- :heavy_check_mark: has a 'codemeta.json' file.
- :heavy_check_mark: has a 'contributing' file.
- :heavy_check_mark: uses 'roxygen2'.
- :heavy_check_mark: 'D

[2022-11-24 12:43] #55 closed

[2022-11-25 06:19] zilch42 commented on #50
Hi @trangdata, I have modified `works2df` to allow all institutions to be returned using output="tibble" for my own use at least. Are you open to a pull request on this?

[2022-11-27 01:21] trangdata commented on #50
@zilch42 I'm happy to look at what you'd like to change, but I'm not sure if 2 rows for one author in the author column is intuitive. I was hoping to have only one unique OpenAlex ID for each row. @massimoaria what do you think?

[2022-11-27 10:57] massimoaria commented on #50
@trangdata I fully agree with you.
The format used in the oa2df function follows a standard in bibliographic datasets used with input files of major science mapping software.
Creating multiple rows for each item, following a "long" logic, risks creating huge files that are not easy to handle, not intuitive, and with non-unique ids.
The best way to get at the original data is to use the list format